<!-- begin page -->
<div data-role="page" id="course_detail">

<script type="text/javascript">
$(document).ready(function(){
	//alert('ajax url "/course/bylocid/' + <%- location_id %> + '"');

	$.ajax({
		url: '/course/bylocid/' + <%- location_id %>,
		dataType: 'json',
		success: coursesResponse
	});


	function coursesResponse(result) {
		var course = result.rows[0];
		$('#course_name').text(course.name);
		$('#course_distance').text(course.course_distance);
		$('#course_targettype').text(course.target_type);
		$('#course_teetype').text(course.tee_type);
		$('#course_established').text(course.established);
		$('#course_description').text(course.description);
	}

});
</script>
<!-- begin content -->
<div data-role="content">

<a href="/hole_detail" data-icon="check" data-role="button">Play this course</a>

<div id="course-content">
<h2 id="course_name">&nbsp;</h2>
<strong>Course Distance:</strong>&nbsp;<span id="course_distance">&nbsp;</span></p>
<strong>Target Type:</strong>&nbsp;<span id="course_targettype">&nbsp;</span></p>
<strong>Tee Type:</strong>&nbsp;<span id="course_teetype">&nbsp;</span></p>
<strong>Established:</strong>&nbsp;<span id="course_established">&nbsp;</span></p>
<strong>DGCourseReview.com says:</strong>&nbsp;<span id="course_description">&nbsp;</span></p>
</div>

</div>
<!-- end content -->

<!-- begin page footer -->
<div data-theme="a" data-role="footer">
<img style="width: 100%;" src="assets/img/footer.jpg" />
</div>
<!-- end page footer -->

</div>
<!-- end page -->
