<div data-role="page" id="course_detail">

<div data-theme="a" data-role="header">
<h3>Header</h3>
</div>

<div data-role="content">

<div data-role="navbar" data-iconpos="top">
<ul>
<li><a href="/home" data-theme="a" data-icon="">Home</a>
</li>
</ul>
</div>

<div style="">
<img style="width: 288px; height: 100px" src="https://lh5.googleusercontent.com/2FAex42yhMtffx_9JoWdKkBsgmdHTynb6dSmdBR-3vT2_pMblpLZUK9_upR82LtaUa4FP6hmF9A" />
</div>

<h2>Course Name</h2>
<input type="submit" data-icon="check" data-iconpos="top" value="Play this Course" data-mini="true" />
</div>

<div data-theme="a" data-role="footer">
<h3>Footer</h3>
</div>

</div>

