<div data-role="page" id="course_detail">

<div data-theme="a" data-role="header">
<h3>Header</h3>
</div>

<div data-role="content">

<div data-role="navbar" data-iconpos="top">
<ul>
<li><a href="/home" data-theme="a" data-icon="">Home</a>
</li>
</ul>
</div>

<div style="">
<h3>Elver Park</h3>
<img src="http://www.dgcoursereview.com/course_pics/210/57762a23.jpg" width="75%" alt="Elver Park" />
<strong>Location: Madison, Wis.</strong>
<strong>Course Distance: 4906 ft. - 6065 ft.</strong>
<strong>Target Type: Mach3</strong>
<strong>Tee Type: Concrete</strong>
<strong>Established: 1992</strong>
<strong>DGCourseReview.com says: "Follows cross country ski trail through grasslands and pine plantations. Elevation changes and vistas abound. Shelter house. Course pulled for snow sports from November to April."</strong>
</div>

<input type="submit" data-icon="check" data-iconpos="top" value="Play this Course" data-mini="true" />
</div>

<div data-theme="a" data-role="footer">
<h3>Footer</h3>
</div>

</div>