<script type="text/javascript">
    $('document').ready(function(){
        if(geo_position_js.init())
        {
            geo_position_js.getCurrentPosition(gpsSuccess,
                function(){//handle error
                    alert('error');
                });
            //alert('hey');

        }
        else
        {
            alert('boo');
            //gps not available

        }
    });

    function gpsSuccess(position){
        alert('query');
        var url = 'http://bushwhack.co/loc/near/'+position.coords.latitude + '/' + position.coords.longitude;
        $.ajax({
            url: url,
            dataType: 'json',
            success:  locationResponse
        });
    }
    function gpsFail(){
        var url = 'http://bushwhack.co/loc/near/43.075158/-89.503212';
        //43.075158,-89.503212
        $.ajax({
            url: url,
            dataType: 'json',
            success:  locationReponse
        });
    }

    function locationResponse(result){
        alert(result.rows.toString());
        for (var id in result.rows){
            var course = result.rows[id]; 
            $('#course-list').append('<li><a href=\'/course_detail/'+ course.id + '\'>' + course.name + '</a></li>');
        }
        $('#course-list').listview('refresh');
    }
</script>
<!-- begin page -->
<div data-role="page" id="course_search">


<!-- begin content -->
<div data-role="content">

<ul id='course-list' data-role="listview" data-filter="true" data-filter-placeholder="Search for course" data-theme="a">
<!--<li><a href="#">Baraboo Lions</a></li>
<li><a href="#">Bird's Ruins</a></li>
<li><a href="#">Bluffview Park</a></li>
<li><a href="#">Collipp-Worden Park</a></li>
<li><a href="#">Dr. George W. Hilliard Park</a></li>
<li><a href="/course_detail">Elver Park</a></li>
<li><a href="#">Exeter</a></li>
<li><a href="#">Firemen's Park</a></li>
<li><a href="#">Fox Hill RV Park & Campground</a></li>
<li><a href="#">Ft. Atkinson High School</a></li>
<li><a href="#">Hidden Valley</a></li>
<li><a href="#">Hiestand Park</a></li>
<li><a href="#">Johnson Park</a></li>
<li><a href="#">King Park</a></li>
<li><a href="#">Kiwanis</a></li>
<li><a href="#">Kiwanis of Stoughton</a></li>
<li><a href="#">Lodi Middle School</a></li>
<li><a href="#">Lustig Park</a></li>
<li><a href="#">Marion Park</a></li>
<li><a href="#">Vallarta</a></li>-->
</ul>

</div>
<!-- end content -->

<!-- begin page footer -->
<div data-theme="a" data-role="footer">
    <img style="width: 100%;" src="assets/img/footer.jpg" />
</div>
<!-- end page footer -->

</div>
<!-- end page -->
