<script type="text/javascript">
    $('document').ready(function(){
        if(geo_position_js.init())
        {
            geo_position_js.getCurrentPosition(gpsSuccess,
                function(){//handle error
                }
                ,{enableHighAccuracy:true});

        }
        else
        {
            //gps not available

        }
    });

    function gpsSuccess(position){
        var url = 'http://bushwhack.co/loc/'+position.coords.latitude + '/' + position.coords.longitude;
        $.ajax({
            url: url,
            dataType: 'json',
            success:  locationReponse
        });
    }
    function gpsFail(){
        var url = 'http://bushwhack.co/loc/'+position.coords.latitude + '/' + position.coords.longitude;
        //43.075158,-89.503212
        $.ajax({
            url: url,
            dataType: 'json',
            success:  locationReponse
        });
    }

    function locationResponse(result){
        for (var course in result){
            $('course-list').append('<li><a href=\'/course_detail\'>' + course.name + '</a></li>');
        }

    }
</script>
<!-- begin page -->
<div data-role="page" id="course_search">

<!-- begin page header -->
<div data-theme="a" data-role="header">
<img style="width: 100%;" src="assets/img/header2.jpg" />
</div>
<!-- end page header -->

<!-- begin content -->
<div data-role="content">

<!-- begin nav bar -->
<!-- <div data-role="navbar" data-iconpos="top">
<ul>
<li><a href="/home" data-theme="a" data-icon="" class="ui-btn-active">Home</a></li>
</ul>
</div> -->
<!-- end nav bar -->

<div>
<ul id='course-list' data-role="listview" data-filter="true" data-filter-placeholder="Search for course" data-theme="a">
<li><a href="#">Baraboo Lions</a></li>
<li><a href="#">Bird's Ruins</a></li>
<li><a href="#">Bluffview Park</a></li>
<li><a href="#">Collipp-Worden Park</a></li>
<li><a href="#">Dr. George W. Hilliard Park</a></li>
<li><a href="/course_detail">Elver Park</a></li>
<li><a href="#">Exeter</a></li>
<li><a href="#">Firemen's Park</a></li>
<li><a href="#">Fox Hill RV Park & Campground</a></li>
<li><a href="#">Ft. Atkinson High School</a></li>
<li><a href="#">Hidden Valley</a></li>
<li><a href="#">Hiestand Park</a></li>
<li><a href="#">Johnson Park</a></li>
<li><a href="#">King Park</a></li>
<li><a href="#">Kiwanis</a></li>
<li><a href="#">Kiwanis of Stoughton</a></li>
<li><a href="#">Lodi Middle School</a></li>
<li><a href="#">Lustig Park</a></li>
<li><a href="#">Marion Park</a></li>
<li><a href="#">Vallarta</a></li>
</ul>
</div>

</div>
<!-- end content -->

<!-- begin page footer -->
<div data-theme="a" data-role="footer">
<img style="width: 100%;" src="assets/img/footer.jpg" />
</div>
<!-- end page footer -->

</div>
<!-- end page -->
