<div data-role="page" id="course_search">

<div data-theme="a" data-role="header">
<h3>Header</h3>
</div>

<div data-role="content">

<div data-role="navbar" data-iconpos="top">
<ul>
<li><a href="#home" data-theme="a" data-icon="" class="ui-btn-active">Home</a></li>
</ul>
</div>

<div data-role="fieldcontain">
<fieldset data-role="controlgroup" data-mini="true">
<label for="textinput2"></label>
<input id="textinput2" placeholder="" value="" type="search" />
</fieldset>
</div>

<input type="submit" value="Submit" />
<div>
<b>List of courses here....</b>
</div>
</div>

<div data-theme="a" data-role="footer">
<h3>Footer</h3>
</div>
</div>

