<!-- HOLE NUMBER 1 -->

<!-- begin page -->
<div data-role="page" id="hole_detail">

<!-- begin script -->
<script type="text/javascript">

var geocoder = new google.maps.Geocoder();
var map, centerLat, centerLng, holeLat, holeLng, teeLat, teeLng, mapCenter, hole;

//elver park first hole midpoint
//var latlng = new google.maps.LatLng(43.036948,-89.502177);

$(document).ready(function(){

	$.ajax({
		url: '/hole/' + <%- hole_id %>,
		dataType: 'json',
		success: holeResponse
	});

	$.ajax({
		url: '/tee/byholeid/' + <%- hole_id %>,
		dataType: 'json',
		success: teeResponse
	});

	function holeResponse(result) {
		hole = result.rows[0];
		//alert('hole_lat = ' + hole.hole_lat);
		holeLat = hole.hole_lat;
		holeLng = hole.hole_lng;
		makeMap();
	}

	function teeResponse(result) {
		var tee = result.rows[0];
		//alert('tee_lat = ' + tee.lat);
		teeLat = tee.lat;
		teeLng = tee.lng;
		makeMap();
	}

	function makeMap() {
		if (
			(typeof holeLat != 'undefined')	&&
			(typeof holeLng != 'undefined')	&&
			(typeof teeLat != 'undefined')	&&
			(typeof teeLng != 'undefined')
		) {
			if (parseInt(hole.hole_number) < 5) {
				$('#holenext').text('Hole #' + (parseInt(hole.hole_number) + 1));
				//$('#holenext').button('refresh');
			}
			if (parseInt(hole.hole_number) > 1) {
				$('#holeprev').text('Hole #' + (parseInt(hole.hole_number) - 1));
				//$('#holeprev').button('refresh');
			}
			
			//calculate center of map
			centerLat = (holeLat + teeLat) / 2;
			centerLng = (holeLng + teeLng) / 2;
			var latlng = new google.maps.LatLng(centerLat,centerLng);

			var myOptions = {
				zoom: 19,
				center: latlng,
				mapTypeId: google.maps.MapTypeId.SATELLITE,
				scrollwheel: false,
				draggable: false,
				mapTypeControl: false,
				navigationControl: true,
				streetViewControl: false,
				panControl: false,
				scaleControl: true,
				navigationControlOptions: {
					style: google.maps.NavigationControlStyle.SMALL,
					position: google.maps.ControlPosition.RIGHT_TOP
				}
			};
			map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
			addruler(teeLat, teeLng, holeLat, holeLng);
		}
	}


	/*
	google.maps.event.addListener(map, 'bounds_changed', function() {
		//gmaps adds rotationZ which breaks our rotation.  delete it every time the map changes.
		$('#map_canvas').css({'-webkit-transform' : ''});
	});
	*/
});

</script>
<!-- end script -->

<style type="text/css">
#map_canvas {width: 80%; height: 500px;}
</style>

<div id="map_canvas"></div>

<!-- begin content -->
<div data-role="content">

<div data-role="navbar" data-iconpos="top">
<ul>
<!-- <li><a href="#" data-theme="a" data-icon="plus" data-role="button">Zoom</a></li> -->

<li>
<% if (parseInt(hole_id) > 1) { %>
	<a id="holeprev" href="/hole_detail/<%- course_id %>/<%- (parseInt(hole_id) - 1)  %>" data-ajax="false" data-theme="a" data-icon="arrow-l" data-role="button">&nbsp;HoleNumber</a></li>
<% } %>


<li>
<% if (parseInt(hole_id) < 5) { %>
	<a id="holenext" href="/hole_detail/<%- course_id %>/<%- (parseInt(hole_id) + 1)  %>" data-ajax="false" data-theme="a" data-icon="arrow-r" data-role="button">&nbsp;HoleNumber</a></li>
<% } %>
</ul>
</div>

</div>
<!-- end content -->

<!-- begin page footer -->
<div data-theme="a" data-role="footer">
<img style="width: 100%;" src="/assets/img/footer.jpg" />
</div>
<!-- end page footer -->

</div>
<!-- end page -->
