<div data-role="page" id="hole_detail">

<div data-theme="a" data-role="header">
<h3>Header</h3>
</div>

<div data-role="content">
<div>
<b>Hole No. 1, Par, Like</b>
</div>

<img src="https://maps.googleapis.com/maps/api/staticmap?center=Madison, WI&amp;zoom=14&amp;size=288x288&amp;markers=Elver Park, Madison, WI&amp;sensor=false" width="288" height="288" />

<div data-role="navbar" data-iconpos="top">
<ul>
<li><a href="#page1" data-theme="a" data-icon="plus">Zoom</a></li>
<li><a href="#next_hole_detail" data-theme="a" data-icon="arrow-r">Next Hole</a></li>
</ul>
</div>

</div>

<div data-theme="a" data-role="footer">
<h3>Footer</h3>
</div>

</div>

