		<header id="overview" class="jumbotron subhead">
			<h1>Welcome!</h1>
			<p class="lead">Bushwhack Apps is a <a href="http://survey.startupweekend.org/teams/bushwhack-apps">Startup Weekend</a> business</p>
		</header>
		<section>
		
			<div class="row">
				<div class="span5">
					<div class="well">
						<h2>Our first product!</h2>
						<p>Bushwhack is building a platform for the next generation of leisure sport technology.</p>
						<p>Our first product is <strong>Disc Golf Caddy</strong>, a virtual caddy mobile app for Android and iPhone to help disc golfers navigate the notoriously poorly marked paths at the 3000 courses across the United States.</p>				  
						<h3>Help us rock!</h3>
						  <p>We are building our prototype based on the disc golf course at Elver Park in Madison, WI.</p>
						  <p>You can help us test using your iPhone.  To do so:</p>
						  <ul>
							<li><a href="http://itunes.apple.com/us/app/mi-viewer/id482745783?mt=8">Download MI Viewer</a> from the App Store</li>
							<li>Login with the credentials <em>Username/Password</em></li>
							<li>Take a tour of the course!</li>
							<li>Please pardon our mess. This prototype is under active production. Things will break. We will fix them. New features will appear. They will rock your world!</li>
						</ul>
					</div>
				</div>
				  
				<div class="span4">
					<div style="margin: auto; text-align: center;">
						<img src="/assets/img/phone-256x510.png"  />
					</div>
				</div>				
				<div class="span3">
					<a href="http://facebook.com/BushwhackApps"><img src="/assets/img/facebook_128x128.png" style="border: none;" /></a>
					<br />
					<br />
					<a href="http://twitter.com/BushwhackApps"><img src="/assets/img/twitter_128x128.png" style="border: none;" /></a>
				</div>				
			</div>
		</section>